* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensures it takes up the full width */
  height: 100%; /* Ensures it takes up the full height */
  overflow: auto; /* Use 'auto' to show scrollbars only when content overflows */
}

/* Main Container */
.main {
  margin: 2px;
  border: 2px solid #000;
  width: 98%;
  height: 98vh;
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
}
.dragArea{
  display: flex;
  justify-content: center;
}
/* Flex Layout Wrapper */
.container {
  display: flex;
  padding: 4px;
  position: relative;
  width: 100%;
  gap: 4px;
   /* width: 100%; */
  height: 100%;
  box-sizing: border-box; 
}

/* Sidebar */
.sidebar {
  
  margin: 5px;
  padding: 8px 0;
  position: absolute;
  z-index: 80;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
  border-radius: 12px;
  width: 60px;
  border: 1px solid #ddd;
  cursor: grab;
}

.sidebar:active {
  cursor: grabbing;
  transform: scale(0.98);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.sidebar center {
  margin-bottom: 8px;
}

/* List Items */
li {
  list-style: none;
}
.list{
 border-top: 1px solid #ccc;
}

.item-list {
 
  padding: 4px 0;
}

/* Each Item */
.item-list ul li {
  position: relative;
  padding: 6px 0;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.item-list ul li:hover {
  background: #e9e9e9;
  border-radius: 8px;
}
.subchild p:hover {
  background: #fdfcfc;
  border-radius: 8px;
}
/* Icon Text Centering */
.text-center {
  text-align: center;
  padding: 4px;
  font-size: 1.2rem;
  color: #555454;
}

/* Submenu */
.subchild {
  background: #e9e6e6;
  color: #fff;
  padding: 6px;
  border-radius: 8px;
  gap: 5px;
  display: none;
  min-width: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.item-list ul li {
  position: relative;
}
.active{
  background: #08a7e6;
  padding: 2px;
  color: white;
}
.item-list ul li .subchild {
  position: absolute;
  left: 100%;
  top: 0;
}

.item-list ul li p {
  cursor: pointer;
}

.item-list ul li:hover .subchild {
  display: flex;
}
